<div id="details">

<div id="detailBox" class="row">
<div id="name" class="center col s3">{{user}}</div>
<div id="level" class="center col s3"> ?? </div>
<div id="xpBar">
<div id="percentage" class="center col s3"> ?? / ??</div>

  <div id="bar" class="progress col s3">
      <div class="determinate" style="width: 10%"></div>
  </div>
</div>

</div>
</div>

<h1> Change Profile Settings </h1>
