<h1>SIGN UP</h1>

<form action="/signup" method="POST">


username:
<input name="username">
password:
<input name="password" type="password">
passwordVerification:
<input name="passwordV" type="password">
email:
<input name="email">

<button type="submit">Submit</button>

<h5 id = 'warning'>{{messages.warning}}</h5>
</form>
