
<ul class="row">
<li class="col s10">description</li>
<li class="col s2">Checked</li>

<li class="col s10">{{data.description}}</li>
<li class="col s2">{{data.complete}}</li>

</ul>


<form action='/toDo' method='POST'>
item:
<input>

<button>submit</button>
</form>
