
#container {
  /*border: 1px solid black;*/
  /*margin-top: 20px;*/
  padding: 2%;
  background-color: white;
  /*margin-left: 2.5%;*/
  /*margin-right: 2.5%;*/
  flex: 1 0 auto;
}
#footer {
  margin-top: 0px;
}
#details {
  height: 250px;
  margin-bottom: 10px;
  width: 100%;
}

#profilePicBox {
  /*margin-top: 1%;*/
  /*margin-bottom: 1%;*/
  margin: 1%;
  width: 17%;
  border: 1px solid black;
  height: 90%;
}
#detailBox {
  margin: 1%;
}
/*
#uploadBar {
  width: 80%;
}
#bar {
  width: 80%;
}*/
body {
  background-color: grey;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
